{% extends "Base.html" %}

{% block page-title %}
    Yunsheng & Mengnan
{% endblock %}

{% block page-css %}
    <link rel="stylesheet" type="text/css" href="/static/css/home.css" />
{% endblock %}

{% block content %}
    <div class="inner cover center cover-middle">
        <h1 class="cover-heading">Cover your page.</h1>
        <p class="">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
        <p class="lead">
            <a href="#" class="btn btn-sm btn-default">Learn more</a>
        </p>
    </div>
{% endblock %}