{% extends "Base.html" %}

{% block page-title %}
    Yunsheng & Mengnan
{% endblock %}

{% block page-css %}
    <link rel="stylesheet" type="text/css" href="/static/css/home.css" />
{% endblock %}

{% block content %}
    <div class="inner cover center cover-middle">
        <h1 class="cover-heading text-capitalize">We are getting married!</h1>
        <p class="home_content">After 6 years, we are getting married!</p>
        <p class="lead">
            <a href="{% url 'wedding.views.home' %}" class="btn btn-sm btn-default">Learn more</a>
        </p>
    </div>
{% endblock %}