{% extends "Base.html" %}
{% load i18n %}

{% block page-title %}
    Our Private Kitchen
{% endblock %}

{% block page-css %}
    <link rel="stylesheet" type="text/css" href="/static/css/lightbox.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/menu.css" />
{% endblock %}

{% block page-js %}

    <script src="/static/js/lib/angular.min.js"></script>
    <script src="/static/js/lib/angular-cookies.min.js"></script>
    <script src="/static/js/lib/angular-resource.min.js"></script>
    <script src="/static/js/lib/angular-route.min.js"></script>

    <!-- build:js /angular_apps/js/scripts.js -->
    <script src="/static/app/app.js"></script>
    <script src="/static/app/controllers/menu_controllers.js"></script>
    <script src="/static/app/filters/menu_filters.js"></script>
    <script src="/static/app/services/menu_services.js"></script>
    <!-- endbuild -->
{% endblock %}

{% block navbar %}
    <li>
        <a href="#starter" onclick = $("#menu-close").click(); >{% trans "Starter" %}</a>
    </li>
    <li>
        <a href="#entree" onclick = $("#menu-close").click(); >{% trans "Entree" %}</a>
    </li>
    <li>
        <a href="#dessert" onclick = $("#menu-close").click(); >{% trans "Dessert" %}</a>
    </li>
{% endblock %}

{% block content %}
    <!-- About -->
    <section id="about" class="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Stylish Portfolio is the perfect theme for your next project!</h2>
                    <p class="lead">This theme features some wonderful photography courtesy of <a target="_blank" href="http://join.deathtothestockphoto.com/">Death to the Stock Photo</a>.</p>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    <div ng-app="menuApp">
        <div ng-view></div>
    </div>

    <!-- Custom Theme JavaScript -->
    <script type="text/javascript" src="/static/js/lightbox.js"></script>
{% endblock %}