{% extends "Base.html" %}
{% load i18n %}

{% block page-title %}
    Our Private Kitchen
{% endblock %}

{% block page-css %}
    <link rel="stylesheet" type="text/css" href="/static/css/menu.css" />
{% endblock %}

{% block navbar %}
    <li>
        <a href="#starter" onclick = $("#menu-close").click(); >{% trans "Starter" %}</a>
    </li>
    <li>
        <a href="#entree" onclick = $("#menu-close").click(); >{% trans "Entree" %}</a>
    </li>
    <li>
        <a href="#dessert" onclick = $("#menu-close").click(); >{% trans "Dessert" %}</a>
    </li>
{% endblock %}

{% block content %}
    <!-- About -->
    <section id="about" class="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Stylish Portfolio is the perfect theme for your next project!</h2>
                    <p class="lead">This theme features some wonderful photography courtesy of <a target="_blank" href="http://join.deathtothestockphoto.com/">Death to the Stock Photo</a>.</p>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    <!-- Wedding Intro Video -->
    <section id="starter" class="call-to-action bg-primary">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>{% trans "Starter" %}</h2>
                    <hr class="small">
                    <img class="video_frame" src="/static/img/portfolio-4.jpg">
                </div>
            </div>
        </div>
    </section>

    <!-- Wedding Intro Video -->
    <section id="entree" class="call-to-action">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>{% trans "Entree" %}</h2>
                    <hr class="small">
                    <img class="video_frame" src="/static/img/portfolio-4.jpg">
                </div>
            </div>
        </div>
    </section>

    <!-- Wedding Intro Video -->
    <section id="dessert" class="call-to-action bg-primary">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>{% trans "Dessert" %}</h2>
                    <hr class="small">
                    <img class="video_frame" src="/static/img/portfolio-4.jpg">
                </div>
            </div>
        </div>
    </section>
{% endblock %}