{% extends "Base.html" %}
{% load i18n %}

{% block page-title %}
    {% blocktrans %}Our Photos{% endblocktrans %}
{% endblock %}

{% block page-css %}
    <link rel="stylesheet" type="text/css" href="/static/css/lightbox.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/photo.css" />
{% endblock %}

{% block page-js %}

    <script src="/static/js/lib/angular.min.js"></script>
    <script src="/static/js/lib/angular-cookies.min.js"></script>
    <script src="/static/js/lib/angular-resource.min.js"></script>
    <script src="/static/js/lib/angular-route.min.js"></script>

    <!-- build:js /angular_apps/js/scripts.js -->
    <script src="/static/app/app.js"></script>
    <script src="/static/app/controllers/photo_controllers.js"></script>
    <script src="/static/app/filters/photo_filters.js"></script>
    <script src="/static/app/services/photo_services.js"></script>
    <!-- endbuild -->

    <script type="text/javascript">
        var load_more_photos = "{% trans "Load more photos" %}";
        var all_photos_are_loaded = "{% trans "All photos are loaded" %}";
        var no_photo_found = "{% trans "Sorry, no photo is found..." %}";
        var loading_photos = "{% trans "Loading photos..." %}";
    </script>
{% endblock %}

{% block navbar %}
    <li>
        <a href="#our_video" onclick = $("#menu-close").click(); >{% blocktrans %}Our Video{% endblocktrans %}</a>
    </li>
    <li>
        <a href="#our_photos" onclick = $("#menu-close").click(); >{% blocktrans %}Our Photos{% endblocktrans %}</a>
    </li>
{% endblock %}

{% block content %}
    <!-- Call to Action -->
    <aside id="our_video" class="call-to-action bg-primary">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3>{% blocktrans %}Watch our WEDDING INTRO video.{% endblocktrans %}</h3>
                    <a href="#" class="btn btn-light"><i class="fa fa-video-camera"></i> {% trans "Youku" %}</a>
                    <a href="#" class="btn btn-light"><i class="fa fa-youtube-play"></i> {% trans "Youtube" %}</a>
                </div>
            </div>
        </div>
    </aside>

    <!-- Photo -->
    <section id="our_photos" class="portfolio">
        <div class="container" ng-app="photoApp">
            <div ng-view></div>
        </div>
    </section>

    <!-- Custom Theme JavaScript -->
    <script type="text/javascript" src="/static/js/lightbox.js"></script>
{% endblock %}