{% extends "Base.html" %}

{% block page-title %}
    Our Wedding
{% endblock %}

{% block page-css %}
    <link rel="stylesheet" type="text/css" href="/static/css/wedding.css" />
{% endblock %}

{% block page-js %}
    <script type="text/javascript" src="/static/js/wedding.js"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/api?key=&v=1.1&services=true"></script>
{% endblock %}

{% block navbar %}
    <li>
        <a href="#leave_message" onclick = $("#menu-close").click(); >Leave A Message</a>
    </li>
    <li>
        <a href="#wedding_intro_video" onclick = $("#menu-close").click(); >Intro Video</a>
    </li>
    <li>
        <a href="#wedding_location" onclick = $("#menu-close").click(); >View Maps</a>
    </li>
{% endblock %}

{% block content %}
    <!-- Wedding Info -->
    <section id="wedding_info" class="wedding_header">
        <div class="text-vertical-center">
            <h1>Wedding</h1>
            <h4>Victoria International Hotel <br/> Tientsin, China </h4>
            <h4>11:00 am <br/> December 20th, 2015</h4>
            <br/>
            <a href="#leave_message" class="btn btn-light">Leave A Message</a>
        </div>
    </section>

    <!-- Leave A Message -->
    <section id="leave_message" class="call-to-action bg-primary">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Best blessing from relatives and friends.</h2>
                    <hr class="small">
                    <p>XiaoMing: This theme features some wonderful photography courtesy of</p>
                    <p>XiaoHua: This theme features some wonderful photography courtesy of. This theme features some wonderful photography courtesy of.</p>
                    <p>XiaoHong: This theme features some wonderful photography courtesy of</p>
                    <a href="#" class="btn btn-light">Leave A Message</a>
                    <a href="#" class="btn btn-light">Read More</a>
                </div>
            </div>
        </div>
    </section>

    <!-- Wedding Intro Video -->
    <section id="wedding_intro_video" class="call-to-action">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>How will our wedding look like?</h2>
                    <hr class="small">
                    <img class="video_frame" src="/static/img/portfolio-4.jpg">
                </div>
            </div>
        </div>
    </section>

    <!-- Wedding Location Map -->
    <section id="wedding_location" class="map">
        <div id="dituContent" class="map_frame"></div>
    </section>

    <!-- Custom Theme JavaScript -->
    <script type="text/javascript" src="/static/js/baidu_map.js"></script>
{% endblock %}